<!-- <div class="article">
    <h3> {{this.article?.title}} </h3>
    <p> {{this.article?.content}} </p>
    <p class="article-author"> by {{this.article?.author}} - id : {{this.article?.id}} </p>
    <button (click)="delete()" type="button" uk-close></button>
</div>
 -->
<div class="uk-card uk-card-default" style="width: 400px;">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <button (click)="delete()" class="uk-modal-close-default" type="button" uk-icon="trash"></button>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{this.article?.title}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">by <a routerLink="/authors/{{this.article?.authors}}">{{this.article?.authors}}</a> - id : {{this.article?.id}} </p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{this.article?.content?.substring(0, 15)}}...</p>
    </div>
    <div class="uk-card-footer">
        <a routerLink="/articles/{{this.article?.id}}" class="uk-button uk-button-text">Read more</a>
    </div>
</div>
<br>