<span class="uk-text-lead" style="position: relative; left: 10px;">Create your article</span> 
<br>
<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-body">
        <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
            <div class="form-group">
              <label class="center-block">Title:
                <input class="uk-input form-control" formControlName="title">
              </label>
              <br />
              <label class="center-block">Content:
                <textarea class="uk-input form-control" formControlName="content"></textarea>
              </label>
              <br />
              <label class="center-block">Author:
                <input class="uk-input form-control" formControlName="authors">
              </label>
              <br />
              <br>
              <button class="uk-button btn btn-success" [disabled]="articleForm.invalid" aria-label="Center Align" type="submit">Save</button>
            </div>
          </form>
    </div>
</div>
<br>