<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Create your article</h3>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
            <div class="form-group">
              <label class="center-block">Title:
                <input class="uk-input form-control" formControlName="title">
              </label>
              <br />
              <label class="center-block">Content:
                <textarea class="uk-input form-control" formControlName="content"></textarea>
              </label>
              <br />
              <label class="center-block">Author:
                <input class="uk-input form-control" formControlName="authors">
              </label>
              <br />
              <br>
              <button class="uk-button btn btn-success" [disabled]="articleForm.invalid" type="submit">Save</button>
            </div>
          </form>
    </div>
</div>
<br>