<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" routerLink="/">Blog</a>

        <ul class="uk-navbar-nav">
            <li>
                <a routerLink="/create">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                    Add an article
                </a>
            </li>
        </ul>

        <div class="uk-navbar-item">
            
        </div>

        <div class="uk-navbar-item">
        </div>

    </div>
</nav>