<nav class="uk-navbar-container uk-margin" uk-navbar style="background-color: rgb(18, 18, 18);">
    <div class="uk-navbar-left" style="color: white;">

        <a class="uk-navbar-item uk-logo" style="font-size: 15pt;" routerLink="/" style="color: white;">BLOG</a>

        <ul class="uk-navbar-nav">
            <li>
                <a routerLink="/create" style="color: white;">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus" ></span>
                    Add
                </a>
            </li>
            <li>
                <a routerLink="/articles" style="color: white;">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: table"></span>
                    Articles
                </a>
            </li>
            <li>
                <a routerLink="/authors" style="color: white;">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: table"></span>
                    Authors
                </a>
            </li>
        </ul>
    </div>
</nav>